<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuneCraft</title>
    <link rel="stylesheet" href="../style/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../images/music-icon.png">
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="nav-link">Home</a>
    </nav>
    <h1 class="header">Previous Recommendations</h1>
    <div><%- historyTable %></div>
  </body>
</html>
