<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuneCraft</title>
    <link rel="stylesheet" href="../style/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <a href="/history" class="nav-link">History</a>
      <a href="/" class="nav-link">Home</a>
    </nav>
    <h1 class="header">Recommendation For Today</h1>
    <div><%- reccomendationsTable %></div>
  </body>
</html>
